[submodule "modules/Battery"]
	path = modules/Battery
	url = https://github.com/HerrNamenlos123/Battery.git
[submodule "modules/cereal"]
	path = modules/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "modules/banana"]
	path = modules/banana
	url = https://github.com/Smertig/banana.git
